---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Daison.dev">
  <header
    class="flex w-full flex-col items-center justify-between gap-[30px] border-b-2 border-b-[#242629] px-[50px] py-[50px] lg:flex-row"
  >
    <main class="inline-block font-FiraCode font-bold text-white">
      <h1
        class="w-0 animate-typing overflow-hidden whitespace-nowrap border-r-[10px] border-r-[red] px-[10px] text-[30px] sm:text-[35px] transition-colors duration-500 hover:text-green-400"
      >
        Daison<span class="text-[red]">.</span>dev
      </h1>
    </main>
    <div class="flex gap-[50px] flex-col sm:flex-row font-FiraCode text-white">
      <div class="flex gap-[50px] text-[18px] sm:text-[20px] ">
        <p class="h-min border-b-[5px] border-b-[red] hover:text-green-400">
          Home
        </p>
        <p class="h-min hover:text-green-400">Posts</p>
        <p class="h-min hover:text-green-400">Projects</p>
      </div>

      <p class="hidden sm:block">|</p>

      <div class="flex gap-[50px]">
        <a href="https://github.com/daisonth" target="_blank">
          <Icon class="h-8 text-white hover:text-green-400" name="mdi:github" />
        </a>
        <a href="https://twitter.com/daisonth" target="_blank">
          <Icon class="h-8 text-white hover:text-green-400" name="x-twitter" />
        </a>
        <a href="mailto:contact@daiosn.dev">
          <Icon
            class="h-8 text-white hover:text-green-400"
            name="mdi:email-outline"
          />
        </a>
      </div>
    </div>
  </header>

  <section class="h-full"></section>
</Layout>

<style>
  *::selection,
  *::-moz-selection {
    background-color: #3a3a3a;
    color: #fff;
  }
</style>
