---
import Layout from "../layouts/Layout.astro";
---

<Layout page="posts" title="Posts">
    <section class="p-[100px]">
      <h1 class="text-center font-FiraCode text-[25px] text-gray-600">
        page under construction :[
      </h1>
    </section>
</Layout>
