---
import { Icon } from "astro-icon";
---

<section class="flex h-fit justify-center">
  <h2
    class="p-x-[30px] flex h-fit items-center whitespace-nowrap py-[30px] font-FiraCode text-[20px] text-white"
  >
    <span>Build with ❤️ using</span>&nbsp;
    <a href="https://astro.build/" target="_blank">
      <span class="flex items-center gap-[10px]">
        <Icon class="h-6" name="LogosAstroIcon" /> Astro
      </span>
    </a>
     &nbsp;and &lt;<span class="text-[#3a6aa7]">/</span>&gt; htm<span
      class="text-[#3a6aa7]">x</span
    >
  </h2>
</section>
