---
import { Icon } from "astro-icon";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="flex flex-col items-center justify-center bg-[#0d0f14] bg-grid-pattern"
  >
    <div
      class="mb-[20px] w-full max-w-[1200px] border-x-2 border-b-2 border-[#242629] bg-[#0d0f14] drop-shadow-2xl"
    >
      <slot />
    </div>

    <section class="flex h-fit justify-center">
      <h2
        class="p-x-[30px] flex h-fit items-center whitespace-nowrap py-[30px] font-FiraCode text-[20px] text-white"
      >
        <span>Build with ❤️ using</span>&nbsp;
        <a href="https://astro.build/" target="_blank">
          <span class="flex items-center gap-[10px]">
            <Icon class="h-6" name="LogosAstroIcon" /> Astro
          </span>
        </a>
      </h2>
    </section>
  </body>
</html>
